<div class="w-full bg-neutral-0 h-[80px] flex px-6 drop-shadow">
    <div class="flex justify-end gap-4 w-full items-center">
        <div class="w-[48px] h-[48px] relative">
            <button class="bg-neutral-200 active:bg-neutral-400 !w-[48px] !h-[48px] !p-0 !rounded-2xl !m-0 !flex justify-center items-center">
                <mat-icon aria-hidden="false" svgIcon="notify" class="!w-[16px] !z-0 !p-0 !m-0 !h-[20px]"></mat-icon>
                
                <div class="absolute w-[20px] h-[20px] bg-alert-danger-900 top-0 right-0 rounded-[50%] z-10 border-2 border-neutral-0">
                    <div class="text-[10px] text-neutral-0 flex items-center justify-center w-full h-full">1</div>
                </div>
            </button>

        </div>
        <div class="w-[2px] h-[80%] bg-neutral-100"></div>
        <div class="flex flex-col text-left">
            <span class="text-b-sm mb-0.5">{{username}}</span>
            <!--<span class="text-b-xs">Super admin</span> -->
        </div>
    </div>
</div>