<div class="bg-neutral-100 w-full h-auto border-t border-neutral-200">
    <div class="max-w-[75rem] w-full grid grid-cols-5 gap-4 px-6 py-8 mx-auto mb-6">
        <div class=" flex flex-col">
            <p class="text-h-xxs mb-4">Nuestras tiendas</p>

            <div class="flex w-full gap-4 items-center mb-2">
                <p class="text-b-sm">Ubicar tienda</p>
                <mat-icon aria-hidden="false" 
                    class="!w-[7px] !z-0 !p-0 !m-0 !mr-2 !h-[11px]"></mat-icon>
            </div>
        </div>

        <div class=" flex flex-col">
            <p class="text-h-xxs mb-4">Categorías</p>

            <div class="flex w-full gap-4 items-center mb-2">
                <p class="text-b-sm">Cuidado Facial</p>
                <mat-icon aria-hidden="false" 
                    class="!w-[7px] !z-0 !p-0 !m-0 !mr-2 !h-[11px]"></mat-icon>
            </div>

            <div class="flex w-full gap-4 items-center mb-2">
                <p class="text-b-sm">Cuidado del cuerpo</p>
                <mat-icon aria-hidden="false" 
                    class="!w-[7px] !z-0 !p-0 !m-0 !mr-2 !h-[11px]"></mat-icon>
            </div>

            <div class="flex w-full gap-4 items-center mb-2">
                <p class="text-b-sm">Cuidado materno e infantil</p>
                <mat-icon aria-hidden="false" 
                    class="!w-[7px] !z-0 !p-0 !m-0 !mr-2 !h-[11px]"></mat-icon>
            </div>

            <div class="flex w-full gap-4 items-center mb-2">
                <p class="text-b-sm">Bienestar y salud</p>
                <mat-icon aria-hidden="false" 
                    class="!w-[7px] !z-0 !p-0 !m-0 !mr-2 !h-[11px]"></mat-icon>
            </div>
        </div>

        <div class=" flex flex-col">
            <p class="text-h-xxs mb-4">Ayuda y legal</p>

            <div class="flex w-full gap-4 items-center mb-2">
                <p class="text-b-sm">Preguntas Frecuentes</p>
                <mat-icon aria-hidden="false" 
                    class="!w-[7px] !z-0 !p-0 !m-0 !mr-2 !h-[11px]"></mat-icon>
            </div>

            <div class="flex w-full gap-4 items-center mb-2">
                <p class="text-b-sm">Programa de Puntos</p>
                <mat-icon aria-hidden="false" 
                    class="!w-[7px] !z-0 !p-0 !m-0 !mr-2 !h-[11px]"></mat-icon>
            </div>

            <div class="flex w-full gap-4 items-center mb-2">
                <p class="text-b-sm">Política de devolución</p>
                <mat-icon aria-hidden="false" 
                    class="!w-[7px] !z-0 !p-0 !m-0 !mr-2 !h-[11px]"></mat-icon>
            </div>

            <div class="flex w-full gap-4 items-center mb-2">
                <p class="text-b-sm">Términos y condiciones</p>
                <mat-icon aria-hidden="false" 
                    class="!w-[7px] !z-0 !p-0 !m-0 !mr-2 !h-[11px]"></mat-icon>
            </div>
        </div>

        <div class=" flex flex-col">
            <p class="text-h-xxs mb-4">Nosotros</p>

            <div class="flex w-full gap-4 items-center mb-2">
                <p class="text-b-sm">Quiénes somos</p>
                <mat-icon aria-hidden="false" 
                    class="!w-[7px] !z-0 !p-0 !m-0 !mr-2 !h-[11px]"></mat-icon>
            </div>

            <div class="flex w-full gap-4 items-center mb-2">
                <p class="text-b-sm">Misión / Visión</p>
                <mat-icon aria-hidden="false" 
                    class="!w-[7px] !z-0 !p-0 !m-0 !mr-2 !h-[11px]"></mat-icon>
            </div>

            <div class="flex w-full gap-4 items-center mb-2">
                <p class="text-b-sm">Blog</p>
                <mat-icon aria-hidden="false" 
                    class="!w-[7px] !z-0 !p-0 !m-0 !mr-2 !h-[11px]"></mat-icon>
            </div>
        </div>

        <div class=" flex flex-col">
            <p class="text-h-xxs mb-4">Contacto</p>

            <div class="flex w-full gap-4 items-center mb-2">
                <p class="text-b-sm">9987-2525 / 9916-2525</p>
            </div>

            <div class="flex w-full gap-4 items-center mb-2">
                <p class="text-b-sm">{{'contacto@labodega.hn'}}</p>
            </div>
        </div>

    </div>
    <div class="w-full h-[105px]">
        <img src="./assets/img/illustrationFootr.png" class="w-[605px] h-[105px] mx-auto" alt="img">
    </div>
    <div class="h-[64px] w-full bg-[#002485]">
        <div class="max-w-[75rem] mx-auto px-6 flex justify-between items-center my-auto h-full">
            <img src="./assets/img/Social.png" alt="imagen redes sociales" class="h-[32px] w-[328px]">
            <img src="./assets/img/cards_payment.png" alt="imagen metodos de pago" class="h-[28px] w-[216px]">
        </div>
    </div>
</div>