.btn.btn-xs > .mat-icon,
.btn.btn-sm > .mat-icon {
  width: 16px !important;
  height: 16px !important;
}

.btn > .mat-icon {
  width: 18px !important;
  height: 18px !important;
}

.btn.btn-lg > .mat-icon,
.btn.btn-xl > .mat-icon {
  width: 20px !important;
  height: 20px !important;
}
