::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-brand-blue-default);
  border-radius: 12px;
  border: 2px solid transparent;
}

.table-container::-webkit-scrollbar,
.dropdown-content::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

.table-container::-webkit-scrollbar-track,
.dropdown-content::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}

// .table-container::-webkit-scrollbar-thumb,
// .dropdown-content::-webkit-scrollbar-thumb {
//   background: var(--color-neutral-main-border);
//   border-radius: 12px;
// }

.scroll-wrapper {
  border-radius: 0.75rem;
  overflow: hidden;
  border: 1px solid var(--color-neutral-main-border);
}
