<section class="flex flex-col gap-6 w-full pb-4 mb-12">
  <p class="text-center text-h-lg">{{ title }}</p>

  <div class="grid grid-cols-4 gap-4">
    <div *ngFor="let offer of offers" class="w-full rounded-2xl overflow-hidden">
      <div class="h-[256px] w-full p-4 relative" [style.background-color]="offer.backgroundColor">
        <span
          class="py-1 text-b-xs rounded-lg px-4 bg-alert-danger-900 text-neutral-0 absolute right-4 top-4"
          >{{ offer.discountText }}</span
        >
        <img
          [src]="offer.image"
          class="h-[195px] mt-4 object-contain mx-auto"
          [alt]="offer.name"
        />
      </div>
      <div class="py-4 px-6 flex flex-col gap-2 text-b-sm" [style.background-color]="offer.bottomBackgroundColor">
        <p>{{ offer.name }}</p>
        <div class="flex gap-2">
          <span class="text-neutral-500 line-through">{{ offer.originalPrice }}</span>
          <span class="font-bold">{{ offer.discountedPrice }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
