<div class="flex items-center justify-between p-4">
  <h2 class="text-[28px] font-semibold text-indigo-600">Gestión de Colaboradores</h2>
  <button 
    class="flex items-center gap-2 pr-4 pl-2 py-2 bg-[#002485] text-[#ffffff] font-medium rounded-md hover:bg-indigo-700 transition-colors"
    (click)="newUser()"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
    </svg>
    Nuevo Colaborador
  </button>
</div>

<app-edit-users [(open)]="editOpen" [title]="selectedUser ? 'Editar Colaborador' : 'Nuevo Colaborador'" [user]="selectedUser" (saved)="onSaved($event)"></app-edit-users>

<div class="p-6 mx-auto">
  <div class="bg-[#ffffff] rounded-lg bg shadow-md overflow-hidden">
    <!-- Table -->
    <div class="overflow-x-auto max-h-96 overflow-scroll">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Nombre
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Correo Electrónico
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Rol
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Estado
            </th>
            <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
              
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let user of colaboradores" class="hover:bg-gray-50 transition-colors">
            <td class="px-6 py-4 whitespace-nowrap font-medium">
              <span class="px-2 py-1 text-sm bg-blue-100 text-blue-800 rounded-full">
                {{ user.nombre }}
              </span>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">
              {{ user.correo_electronico }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <span class="px-2 py-1 text-xs bg-green-100 text-green-800 rounded-full">
                {{ user.rolnombre || 'Sin rol' }}
              </span>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <span class="px-2 py-1 text-xs rounded-full" 
                    [ngClass]="{ 
                      'bg-green-100 text-green-800': user.estado, 
                      'bg-red-100 text-red-800': !user.estado 
                    }">
                {{ user.estado ? 'Activo' : 'Inactivo' }}
              </span>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
              <div class="flex justify-center">
                <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="Acciones">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M6 10a2 2 0 114 0 2 2 0 11-4 0zm4 0a2 2 0 114 0 2 2 0 11-4 0zM2 10a2 2 0 114 0 2 2 0 11-4 0z" />
                  </svg>
                </button>
                
                <mat-menu #userMenu="matMenu" class="custom-menu">
                  <button mat-menu-item (click)="editUser(user.id)" class="menu-item">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                    </svg>
                    Editar perfil
                  </button>
                  
                  <button mat-menu-item (click)="removeUser(user.id)" class="menu-item text-red-600">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                    Eliminar colaborador
                  </button>
                </mat-menu>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
