<div class="w-full h-[80px] bg-primary-800 text-neutral-0 text-b-sm flex flex-row justify-center">
    <div class="max-w-[75rem] w-full px-4 flex flex-row gap-8 h-full relative items-center">
        <img src="./assets/images/iconLaBodega.png" alt="Logo la bodega" class="h-[48px] w-[105px] cursor-pointer">
        <div class="w-full flex flex-row gap-4 justify-between">
            <button class="active:bg-primary-600 px-2 flex items-center gap-2">
                <mat-icon aria-hidden="false" svgIcon="promo" class="!w-[20px] !z-0 !p-0 !m-0 !h-[20px]"></mat-icon>
                Promociones
                <mat-icon aria-hidden="false" svgIcon="row-down" class="!w-[10px] !z-0 !p-0 !m-0 !h-[5px]"></mat-icon>
            </button>
            <button class="active:bg-primary-600 px-2 flex items-center gap-2">
                Categorías
                <mat-icon aria-hidden="false" svgIcon="row-down" class="!w-[10px] !z-0 !p-0 !m-0 !h-[5px]"></mat-icon>
            </button>
            <button class="active:bg-primary-600 px-2 flex items-center gap-2">
                Pickup & Delivery
                <mat-icon aria-hidden="false" svgIcon="row-down" class="!w-[10px] !z-0 !p-0 !m-0 !h-[5px]"></mat-icon>
            </button>

            <div class="h-[48px] rounded-xl border border-neutral-200 bg-neutral-0 max-w-[400px] w-full relative">
                <input type="text" placeholder="Buscar productos, marcas y más..." autocomplete="off"
                    class="h-full w-full rounded-2xl border-none px-6 py-3 pl-8 text-neutral-900 outline-none" />
                <mat-icon aria-hidden="false" svgIcon="search"
                    class="!w-[24px] !z-0 !p-0 !m-0 !h-[24px] absolute left-2 !mt-[11px]"></mat-icon>
            </div>

            <button class="cursor-pointer flex items-center gap-2">
                <mat-icon aria-hidden="false" svgIcon="user" class="!w-[24px] !z-0 !p-0 !m-0 !h-[24px]"></mat-icon>
                Iniciar sesión
            </button>

            <div class="w-[48px] h-[48px] relative">
                <button
                    class="bg-neutral-150 active:bg-neutral-400 !w-[48px] !h-[48px] !p-0 !rounded-2xl !m-0 !flex justify-center items-center">
                    <mat-icon aria-hidden="false" svgIcon="car" class="!w-[22px] !z-0 !p-0 !m-0 !h-[22px]"></mat-icon>

                    <div
                        class="absolute w-[20px] h-[20px] bg-alert-yellow-900 top-0 right-0 rounded-[50%] z-10 border-2 border-neutral-900">
                        <div
                            class="text-[10px] text-neutral-900 flex items-center justify-center w-full h-full font-bold">
                            1</div>
                    </div>
                </button>

            </div>
        </div>
    </div>
</div>