<div class="flex flex-col justify-center text-center p-8 gap-4">
    <svg class="h-9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#b81e16" d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>

    <p class="text-h-md">Eliminar colaborador</p>

    <p>Se eliminará el colaborador de forma permanente y no podrá acceder al portal administrativo.</p>

    <div class="flex gap-6 justify-between mt-4 ">
        <button (click)="onRemoveUser()" class="w-full px-5 py-2 rounded-xl border border-r-alert-danger-900 text-alert-danger-900">Si, Eliminar</button>
        <button (click)="onCancelClick()" class="w-full bg-[#002485] px-5 py-2 rounded-xl text-neutral-0 text-b-md hover:bg-[#003e85] transition-all">Volver</button>
    </div>
</div>